<!DOCTYPE html>
<html>
<head>
    <title>Universidad Mandril</title>
</head>
<body>
    <h1>Bienvenido a Mandril University</h1>
    <p>
        Mandril University es una institución dedicada a la excelencia académica y a la formación de futuros líderes en diversas disciplinas.
    </p>

    <h2>Historia</h2>
    <p>
        Fundada en 2023, Mandril University ha estado sirviendo a la comunidad académica durante décadas. Nuestra historia está llena de logros y contribuciones significativas a la educación.
    </p>

    <h2>Visión</h2>
    <p>
        Nuestra visión es ser líderes en la educación superior, ofreciendo programas académicos de alta calidad y promoviendo la innovación y la investigación.
    </p>

    <h2>Misión</h2>
    <p>
        La misión de Mandril University es proporcionar a nuestros estudiantes las habilidades y los conocimientos necesarios para tener éxito en un mundo en constante evolución, a través de la enseñanza, la investigación y el compromiso con la comunidad.
    </p>
</body>
</html>
